:root {
  --screen-width : 256px;
  --screen-height: 128px;
}

* {
  -moz-box-sizing   : border-box;
  -webkit-box-sizing: border-box;
  box-sizing        : border-box;
  margin            : 0;
  padding           : 0;
}

body {
  position  : relative;
  background: #e7e0a3;
  padding   : 100px 0;
  text-align: center;
}

.vintageTV {
  -moz-border-radius   : 5px;
  -webkit-border-radius: 5px;
  border-radius        : 5px;
  position             : relative;
  display              : inline-block;
  background           : #464646;
  z-index              : 0;
  width                : calc(var(--screen-width) + 61px);
  height               : calc(var(--screen-height) + 16px);
}

.vintageTV:before {
  -moz-border-radius   : 2px 2px 0 0;
  -webkit-border-radius: 2px;
  border-radius        : 2px 2px 0 0;
  content              : " ";
  position             : absolute;
  display              : block;
  background           : #464646;
  width                : 52px;
  height               : 3px;
  top                  : -3px;
  left                 : 23px;
}

.vintageTV:after {
  -moz-border-radius   : 2px 2px 0 0;
  -webkit-border-radius: 2px;
  border-radius        : 2px 2px 0 0;
  content              : " ";
  position             : absolute;
  display              : block;
  background           : #464646;
  width                : 26px;
  height               : 4px;
  top                  : -7px;
  left                 : 36px;
}

.vintageTV .screen {
  /* -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;
  border-radius         : 3px; */
  -moz-box-shadow       : inset 0 0 20px 0 rgba(0, 0, 0, 0.05), inset 0 0 100px 0 rgba(0, 0, 0, 0.56), inset 0 -90px 100px 0 rgba(0, 0, 0, 0.23), inset 0 90px 100px 0 rgba(255, 255, 255, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow    : inset 0 0 20px 0 rgba(0, 0, 0, 0.05), inset 0 0 100px 0 rgba(0, 0, 0, 0.56), inset 0 -90px 100px 0 rgba(0, 0, 0, 0.23), inset 0 90px 100px 0 rgba(255, 255, 255, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.43);
  box-shadow            : inset 0 0 20px 0 rgba(0, 0, 0, 0.05), inset 0 0 100px 0 rgba(0, 0, 0, 0.56), inset 0 -90px 100px 0 rgba(0, 0, 0, 0.23), inset 0 90px 100px 0 rgba(255, 255, 255, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.43);
  position              : absolute;
  display               : block;
  width                 : var(--screen-width);
  height                : var(--screen-height);
  top                   : 8px;
  left                  : 8px;
  /* background-position: center;
    background-size     : contain; */
}

.vintageTV .antenna:before {
  -moz-transform   : rotate(-15deg);
  -ms-transform    : rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  transform        : rotate(-15deg);
  content          : " ";
  position         : absolute;
  display          : block;
  background       : #464646;
  width            : 2px;
  height           : 70px;
  top              : -72px;
  left             : 37px;
}

.vintageTV .antenna:after {
  -moz-transform   : rotate(35deg);
  -ms-transform    : rotate(35deg);
  -webkit-transform: rotate(35deg);
  transform        : rotate(35deg);
  content          : " ";
  position         : absolute;
  display          : block;
  background       : #464646;
  width            : 2px;
  height           : 50px;
  top              : -52px;
  left             : 66px;
}

.vintageTV .controls1 {
  -moz-border-radius   : 2px;
  -webkit-border-radius: 2px;
  border-radius        : 2px;
  position             : absolute;
  display              : block;
  background           : #a49870;
  width                : 37px;
  height               : 82px;
  top                  : 8px;
  left                 : calc(var(--screen-width) + 16px);
}

.vintageTV .controls1:before {
  -moz-border-radius   : 50%;
  -webkit-border-radius: 50%;
  border-radius        : 50%;
  -moz-box-shadow      : 0 38px 0 0 #eae9e9, 2px 40px 2px 0 #8a7e58, 2px 2px 2px 0 #8a7e58;
  -webkit-box-shadow   : 0 38px 0 0 #eae9e9, 2px 40px 2px 0 #8a7e58, 2px 2px 2px 0 #8a7e58;
  box-shadow           : 0 38px 0 0 #eae9e9, 2px 40px 2px 0 #8a7e58, 2px 2px 2px 0 #8a7e58;
  content              : " ";
  position             : absolute;
  display              : block;
  background           : #eae9e9;
  z-index              : 1;
  width                : 23px;
  height               : 23px;
  top                  : 10px;
  left                 : 7px;
}

.vintageTV .controls1:after {
  -moz-transform    : rotate(40deg);
  -ms-transform     : rotate(40deg);
  -webkit-transform : rotate(40deg);
  transform         : rotate(40deg);
  -moz-box-shadow   : 24px 29px 0 0 #f4f5f5, 26px 29px 0 0 #e1e4e4, 2px 0 0 0 #e1e4e4;
  -webkit-box-shadow: 24px 29px 0 0 #f4f5f5, 26px 29px 0 0 #e1e4e4, 2px 0 0 0 #e1e4e4;
  box-shadow        : 24px 29px 0 0 #f4f5f5, 26px 29px 0 0 #e1e4e4, 2px 0 0 0 #e1e4e4;
  content           : " ";
  position          : absolute;
  display           : block;
  background        : #f4f5f5;
  z-index           : 10;
  width             : 3px;
  height            : 25px;
  top               : 9px;
  left              : 17px;
}

.vintageTV .controls2 {
  -moz-border-radius   : 2px;
  -webkit-border-radius: 2px;
  border-radius        : 2px;
  position             : absolute;
  display              : block;
  background           : #a49870;
  width                : 37px;
  height               : calc(var(--screen-height) - 90px);
  top                  : 98px;
  left                 : calc(var(--screen-width) + 16px);
}

.vintageTV .controls2:before {
  -moz-border-radius   : 50%;
  -webkit-border-radius: 50%;
  border-radius        : 50%;
  content              : " ";
  position             : absolute;
  display              : block;
  background           : #444138;
  width                : 17px;
  height               : calc(var(--screen-height) - 116px);
  top                  : 13px;
  left                 : 10px;
}

.vintageTV .controls2:after {
  /* -moz-box-shadow: 0 3px 0 0 #aea178, 0 6px 0 0 #aea178, 0 9px 0 0 #aea178, 0 12px 0 0 #aea178, 0 15px 0 0 #aea178, 0 18px 0 0 #aea178, 0 21px 0 0 #aea178, 0 24px 0 0 #aea178, 0 27px 0 0 #aea178, 0 30px 0 0 #aea178, 0 33px 0 0 #aea178, 0 36px 0 0 #aea178, 0 39px 0 0 #aea178, 0 42px 0 0 #aea178, 0 45px 0 0 #aea178, 0 48px 0 0 #aea178, 0 51px 0 0 #aea178;
    -webkit-box-shadow: 0 3px 0 0 #aea178, 0 6px 0 0 #aea178, 0 9px 0 0 #aea178, 0 12px 0 0 #aea178, 0 15px 0 0 #aea178, 0 18px 0 0 #aea178, 0 21px 0 0 #aea178, 0 24px 0 0 #aea178, 0 27px 0 0 #aea178, 0 30px 0 0 #aea178, 0 33px 0 0 #aea178, 0 36px 0 0 #aea178, 0 39px 0 0 #aea178, 0 42px 0 0 #aea178, 0 45px 0 0 #aea178, 0 48px 0 0 #aea178, 0 51px 0 0 #aea178; */
  box-shadow: 0 3px 0 0 #aea178, 0 6px 0 0 #aea178, 0 9px 0 0 #aea178, 0 12px 0 0 #aea178, 0 15px 0 0 #aea178, 0 18px 0 0 #aea178, 0 21px 0 0 #aea178, 0 24px 0 0 #aea178, 0 27px 0 0 #aea178, 0 30px 0 0 #aea178, 0 33px 0 0 #aea178;
  content   : " ";
  position  : absolute;
  display   : block;
  background: #aea178;
  width     : 37px;
  height    : 1px;
  top       : 3px;
  left      : 0;
}