@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@1,300&display=swap');

:root {
  --screen-width : 256px;
  --screen-height: 128px;
}

* {
  font-family: 'Dosis', sans-serif;
}


body {
  font-family            : 'Dosis', sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  position               : relative;
  background             : #eeeeee !important;
  text-align             : center;
}

body h1 {
  font-family : 'Zilla Slab', serif;
  font-weight : 600;
  font-size   : 38px;
  word-spacing: 5px;
}

body h2 {
  font-family : 'Dosis', sans-serif;
  word-spacing: 2px;
}

body p {
  font-size   : 20px;
  padding     : 20vw 1vh 20vw auto;
  word-spacing: 1px;
}

/* override semaintic-ui default css */
.ui.left.aligned.header {
  margin-top : 0;
  padding-top: 5px;
}